@import url('../node_modules/searchkit/release/theme.css');
.sk-layout__tabs {
  padding: 20px 15px 0px 15px;
  width: 100%;
}

.sk-action-bar-row .sk-toggle__item {
  display: none
}


/* hide the all tab */

[data-key="$all"] {
  display: none !important;
}

.my-logo {
  color: white;
  flex: 0 0 250px;
  padding: 13px 20px;
  margin-right: 15px;
  line-height: 16px;
}

.my-list-item-wrapper__cross {
  display: none;
  cursor: pointer;
  margin-left: auto;
  font-family: cursive;
  line-height: 22px;
}

.my-list-item-wrapper:hover .my-list-item-wrapper__cross {
  display: flex;
}

.my-list-item-wrapper {
  display: flex;
}

.my-list-item-wrapper__main {
  flex-basis: 80%
}

.my-panel-header-wrapper {
  display: flex;
}

.my-panel-header-wrapper__add {
  margin-left: auto;
  display: none;
  cursor: pointer;
  margin-right: 5px;
  font-weight: 700;
}

.my-panel-header-wrapper__cross {
  display: none;
  cursor: pointer;
  font-family: cursive;
}

.my-panel-header-wrapper:hover .my-panel-header-wrapper__cross,
.my-panel-header-wrapper:hover .my-panel-header-wrapper__add {
  display: flex;
}

.my-panel-header-wrapper__input {
  display: none;
}

.tabs-for-each-user-query-header {
  display: flex;
  flex-flow: row wrap;
}

.tabs-for-each-user-query-header__add-query {
  margin-left: auto;
  cursor: pointer;
  font-weight: 700;
}

.full-width {
  width: 100%;
}

.sk-layout__filters{
  padding-top: 5px;
  /* padding-bottom: 5px; */
}